<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Daftar Produk</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <h1 class="mt-5 mb-4">Daftar Produk</h1>
    <h6><% if (userEmail) { %>
      <%= userEmail %>
      <% } %></h6>
    <% if (userEmail) { %>
    <a href="logout" class="nav-item"
      style="width: 50%; height: 80%; background-color: crimson; color: aliceblue; padding: 5px; border-radius: 10px;">
      Logout
    </a>
    <% } %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nama Produk</th>
          <th scope="col">Deskripsi</th>
          <th scope="col">Harga</th>
          <th scope="col">Kuota</th>
          <th scope="col">Tanggal Keberangkatan</th>
          <th scope="col">Tanggal Kembali</th>
          <th scope="col">Gambar</th>
          <th scope="col">Aksi</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i = 0; i < data.length; i++) { %>
        <tr>
          <th scope="row"><%= (i+1) %></th>
          <td><%= data[i].nama_produk %></td>
          <td><%= data[i].deskripsi %></td>
          <td><%= data[i].harga %></td>
          <td><%= data[i].kuota %></td>
          <td><%= data[i].tanggal_keberangkatan %></td>
          <td><%= data[i].tanggal_kembali %></td>
          <td><img src="/images/upload/<%= data[i].gambar %>" height="100">
          </td>
          <td>
            <a href="/produk/edit/<%= data[i].produk_id %>" class="btn btn-primary btn-sm">Edit</a>
            <a href="/produk/delete/<%= data[i].produk_id %>" class="btn btn-danger btn-sm">Delete</a>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <a href="/produk/create" class="btn btn-success">Tambah Produk Baru</a>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    function deleteProduct(id) {
      axios.delete(`/produk/${id}`)
        .then(response => {
          console.log(response.data);
          window.location.reload(); // Reload halaman setelah produk dihapus
        })
        .catch(error => {
          console.error(error);
        });
    }
  </script>
</body>

</html>